option_settings:
  - option_name: FABRIC_CA_HOME
    value: /etc/hyperledger/fabric-ca-server
  - option_name: FABRIC_CA_SERVER_TLS_ENABLED
    value: true
  - option_name: FABRIC_CA_SERVER_CA_NAME
    value: ca.block-chain.brussels
  - option_name: FABRIC_CA_SERVER_TLS_KEYFILE
    value: /etc/hyperledger/fabric-ca-server-config/a4b86e64a7fdad988b930596f7a9cfe7194c5a9a8a52e5397f45e53fe221085a_sk
  - option_name: FABRIC_CA_SERVER_TLS_CERTFILE
    value: /etc/hyperledger/fabric-ca-server-config/ca.block-chain.brussels-cert.pem