Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["blockchain-droidit"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /etc/hyperledger/fabric-ca-server-config/ca.block-chain.brussels-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.brussels/ca/ca.block-chain.brussels-cert.pem
  /etc/hyperledger/fabric-ca-server-config/a4b86e64a7fdad988b930596f7a9cfe7194c5a9a8a52e5397f45e53fe221085a_sk:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.brussels/ca/a4b86e64a7fdad988b930596f7a9cfe7194c5a9a8a52e5397f45e53fe221085a_sk