option_settings:
  - option_name: FABRIC_CA_HOME
    value: /etc/hyperledger/fabric-ca-server
  - option_name: FABRIC_CA_SERVER_TLS_ENABLED
    value: true
  - option_name: FABRIC_CA_SERVER_CA_NAME
    value: ca.block-chain.vlaanderen
  - option_name: FABRIC_CA_SERVER_TLS_KEYFILE
    value: /etc/hyperledger/fabric-ca-server-config/adac3dd09058926959a7cbc0cfee0abb258b3d5cb29c16480eb41d6cccd73882_sk
  - option_name: FABRIC_CA_SERVER_TLS_CERTFILE
    value: /etc/hyperledger/fabric-ca-server-config/ca.block-chain.vlaanderen-cert.pem