Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["blockchain-droidit"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /etc/hyperledger/fabric-ca-server-config/ca.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/ca/ca.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/fabric-ca-server-config/adac3dd09058926959a7cbc0cfee0abb258b3d5cb29c16480eb41d6cccd73882_sk:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/ca/adac3dd09058926959a7cbc0cfee0abb258b3d5cb29c16480eb41d6cccd73882_sk