option_settings:
  - option_name: ORDERER_GENERAL_LOGLEVEL
    value: debug
  - option_name: ORDERER_GENERAL_LISTENADDRESS
    value: 0.0.0.0
  - option_name: ORDERER_GENERAL_GENESISMETHOD
    value: file
  - option_name: ORDERER_GENERAL_GENESISFILE
    value: /etc/hyperledger/configtx/genesis.block
  - option_name: ORDERER_GENERAL_LOCALMSPID
    value: OrdererMSP
  - option_name: ORDERER_GENERAL_LOCALMSPDIR
    value: /etc/hyperledger/msp/orderer/msp