Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["blockchain-droidit"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /etc/hyperledger/msp/orderer/msp/admincerts/Admin@block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/msp/admincerts/Admin%40block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/orderer/msp/cacerts/ca.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/msp/cacerts/ca.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/orderer/msp/keystore/cef29f295ae7be866d021050b0f0f9ff0d96da4734c82139d80d35c0c9569f53_sk:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/msp/keystore/cef29f295ae7be866d021050b0f0f9ff0d96da4734c82139d80d35c0c9569f53_sk
  /etc/hyperledger/msp/orderer/msp/signcerts/orderer.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/msp/signcerts/orderer.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/orderer/msp/tlscacerts/tlsca.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/msp/tlscacerts/tlsca.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/orderer/tls/ca.crt:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/tls/ca.crt
  /etc/hyperledger/msp/orderer/tls/server.crt:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/tls/server.crt
  /etc/hyperledger/msp/orderer/tls/server.key:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/ordererOrganizations/block-chain.vlaanderen/orderers/orderer.block-chain.vlaanderen/tls/server.key
  /etc/hyperledger/msp/peerVlaanderen/msp/admincerts/Admin@block-chain.vlaanderen-cert.pem::
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/msp/admincerts/Admin%40block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/peerVlaanderen/msp/cacerts/ca.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/msp/cacerts/ca.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/peerVlaanderen/msp/keystore/b7fed216a05fbe8c07f6a6a944037727b54f660127b020832e1540d9051c5341_sk:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/msp/keystore/b7fed216a05fbe8c07f6a6a944037727b54f660127b020832e1540d9051c5341_sk
  /etc/hyperledger/msp/peerVlaanderen/msp/signcerts/peer0.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/msp/signcerts/peer0.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/peerVlaanderen/msp/tlscacerts/tlsca.block-chain.vlaanderen-cert.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/msp/tlscacerts/tlsca.block-chain.vlaanderen-cert.pem
  /etc/hyperledger/msp/peerVlaanderen/tls/ca.crt:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/tls/ca.crt
  /etc/hyperledger/msp/peerVlaanderen/tls/server.crt:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/tls/server.crt
  /etc/hyperledger/msp/peerVlaanderen/tls/server.key:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/peerOrganizations/block-chain.vlaanderen/peers/peer0.block-chain.vlaanderen/tls/server.key
  /etc/hyperledger/configtx/BrusselsMSPanchors.tx:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/channel-artifacts/BrusselsMSPanchors.tx
  /etc/hyperledger/configtx/VlaanderenMSPanchors.tx:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/channel-artifacts/VlaanderenMSPanchors.tx
  /etc/hyperledger/configtx/channel.tx:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/channel-artifacts/channel.tx
  /etc/hyperledger/configtx/genesis.block:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blockchain-droidit/channel-artifacts/genesis.block